/* homePage.css */
.homePage.container {
    backdrop-filter: blur(14px) saturate(110%);
    background: linear-gradient(to bottom right, rgba(255, 255, 255, .14), rgba(255, 255, 255, .06));
    border: 1px solid var(--stroke);
    border-radius: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    .homePage.container {
        width: calc(100vw - 24px) !important;
        max-width: calc(100vw - 24px) !important;
        margin: 0 12px !important;
        border-radius: 20px !important;
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        padding: 0 !important;
    }
}

@media (max-width: 480px) {
    .homePage.container {
        width: calc(100vw - 16px) !important;
        max-width: calc(100vw - 24px) !important;
        margin: 0px 12px !important;
        border-radius: 16px !important;
        padding: 0 !important;
    }
}

