/* weather.css */
:root {
    --wx-blue: #0b4f72;
    --wx-blue-2: #0f6a9d;
    --wx-bg: #f5f7fb;
    --wx-card: #fff;
    --wx-border: #e5e7ef;
    --wx-green: #c5f36b;
    --wx-yellow: #ffc24b;
    --wx-header-h: 120px;
    --sider-w: 240px; /* default */
}

/* CONTENT */
.wx-content {
    position: relative;
    min-height: 100vh;
    padding-top: 5px;
}

.myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    width: 100%;
}

.ant-layout-sider {
    min-width: 0;
}

.ant-menu-dark {
    background: none !important;
}

.wx-sider {
    position: sticky;
    top: 0;
    height: 100vh;
    background: rgba(33, 33, 33, .57) !important;
}

.wx-sider-menu {
    margin-top: 30px
}



@media (min-width: 1921px) {
    :root { --sider-w: 300px; }
    .wx-sider {
        width: 300px !important;
    }
}

@media (max-width: 1921px) {
    .wx-content{
        padding: 0 24px;
    }
}

@media (max-width: 768px){
    .wx-content {
        padding: 0;
    }
}




